.game__menu_score{
   width: 400px;
   height: 360px;
   position: fixed;
   top: 80%;
   left: 50%;
   margin-top: -150px;
   margin-left: -200px;
   opacity: 0.8;
   background: #000000;
   border-radius: 20px;
}
.game__menu__title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  margin-top: 55px;
  margin-bottom: 15px;
  color: #4eade8;
  font-family: 'Lilita One', cursive;
}
.score {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.score__login {
  width: 80%;
  color: #4eade8;
}
.score__rating {
  width: 20%;
  text-align: center;
  color:#4eade8;
}
