@charset "UTF-8";
.btn-form, .btnsignin, .btnsignup, .btnback {
  margin-left: 100px;
  margin-top: 10px;
  font-family: "Roboto-Regular";
  display: inline-block;
  position: relative;
  width: 200px;
  height: 40px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 1em;
  background-color: #0d183d;
  color: #fff;
  border: 1px solid #5675e0; }

.btnsignin {
  background-color: #0d183d;
  border: 1px solid #5675e0; }

.btnsignup {
  background-color: #1b69c3;
  border: 1px solid #1b69c3; }

.btnback {
  background-color: #0d183d;
  border: 1px solid #5675e0; }

.btnplay {
  width: 400px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 200px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1b70d1;
  border: none;
  border-radius: 4px; }

.btnplay:hover {
  background-color: #0d183d; }

.btnplay:active {
  background-color: #1b70d1;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px); }

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.js-welcome-panel {
  width: 400px;
  height: 350px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -190px;
  margin-left: -200px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: white; }
  .js-welcome-panel__login-form ul {
    width: 400px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px; }
  .js-welcome-panel__login-form li {
    padding: 5px;
    position: relative; }
  .js-welcome-panel__login-form input {
    height: 40px;
    width: 300px;
    margin-left: 50px;
    margin-top: -5px;
    padding: 5px, 5px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 3px; }
  .js-welcome-panel__login-form label {
    width: 300px;
    margin-left: 50px;
    margin-top: -3px;
    display: inline-block;
    float: left;
    padding: 3px;
    color: white; }
  .js-welcome-panel__login-form h1 {
    margin-left: 50px; }

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999; }

.b-page__rule-open {
  display: block; }

.rule__text {
  color: white;
  margin-left: 20px; }

.b-page__rule {
  position: relative;
  margin-left: 20px; }
  .b-page__rule h3 {
    padding-right: 200px;
    margin-bottom: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-family: "Litita-One";
    padding-top: 22px;
    padding-bottom: 20px;
    color: white; }

.btn {
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 20px;
  background: #1b70d1;
  color: #fff;
  font-family: HelveticaNeue-Bold;
  cursor: pointer;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  overflow: hidden;
  text-align: center; }

.btn:hover {
  background-color: #ff3434; }

.b-page__rule-open input[type=checkbox] {
  display: none; }

.b-page__rule-open input[type=checkbox] ~ .rule__text {
  display: none; }

.b-page__rule-open input[type=checkbox]:checked ~ .rule__text {
  display: block; }

.b-page__line {
  width: 1200px;
  margin: -20px auto;
  background: rgba(0, 0, 0, 0.9); }

.page__line {
  width: 960px;
  margin: 0 auto;
  margin-top: 27px; }

.rules__item {
  background: rgba(0, 0, 0, 0.9); }

.cell-content {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.cell-content__item {
  margin-top: 5px;
  margin-left: 25px;
  display: block; }

.cell__text {
  color: white;
  font-size: 14px; }

.cell__head {
  color: #1b70d1;
  font-family: "Litita-One";
  font-size: 16px; }

.rules__item {
  float: left;
  margin-left: 10px;
  width: 460px; }

.rules__item_small {
  width: 300px; }

.cell__img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px; }

.b-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  table-layout: fixed;
  color: #183b63;
  font-size: 12px; }
  .b-menu__link {
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: "Litita-One";
    font-size: 20px;
    height: 40px;
    background-color: #0c163d;
    line-height: 45px;
    border: 0.5px solid #07195d;
    display: table-cell;
    text-decoration: none; }
    .b-menu__link_active {
      color: #fefefe;
      background-color: #1b70d1;
      border: 0px solid #0fb9dd; }

.b-head {
  height: 36px; }
  .b-head__panel {
    float: right; }

.b-panel__form {
  display: inline-block; }
  .b-panel__form_welcome {
    color: #1b70d1;
    font-size: 150%;
    font-family: serif;
    position: relative;
    top: 5px;
    right: 20px; }

.b-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1b70d1;
  border: none;
  padding: 0 12px;
  width: 120px;
  line-height: 32px;
  font-size: 0.9em;
  font-family: HelveticaNeue-Bold;
  color: #fff; }
  .b-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .b-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.b-button:hover {
  background-color: #0d183d; }
  .b-button:hover span {
    padding-right: 25px; }
  .b-button:hover span:after {
    opacity: 1;
    right: 0; }

.b-button:active {
  background-color: #1b70d1;
  box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px); }

.game__main-page-wrapper {
  min-width: 400px;
  right: -100px;
  height: 400px;
  margin-top: 20px;
  display: block;
  background-image: url(/static/img/logo.png); }

.game__main_score {
  width: 400px;
  height: 360px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  bottom: 0; }

.game-score__title {
  width: 100%;
  font-size: 30px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4eade8;
  font-family: "Litita-One"; }

.score {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%; }
  .score__login {
    width: 80%;
    color: #4eade8; }
  .score__rating {
    width: 20%;
    text-align: center;
    color: #4eade8; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url(/static/img/space.jpg) no-repeat;
  background-size: 100%; }

.js-canvas {
  width: 100%;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none; }

.cssload-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 390px;
          perspective: 390px;
  height: 100%;
  overflow: hidden; }

.cssload-cssload-spinner {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: cssload-wobble 4.59s ease-in-out infinite;
          animation: cssload-wobble 4.59s ease-in-out infinite; }

.cssload-cssload-spinner:before, .cssload-cssload-spinner:after {
  display: block;
  content: "";
  width: 88px;
  height: 88px;
  border: 44px solid;
  border-radius: 50%;
  -webkit-animation: cssload-spin 1.73s ease-in-out infinite both reverse;
          animation: cssload-spin 1.73s ease-in-out infinite both reverse; }

.cssload-cssload-spinner:before {
  border-color: #dddddd;
  position: absolute; }

.cssload-cssload-spinner:after {
  border-color: black;
  -webkit-animation-delay: -0.86s;
          animation-delay: -0.86s; }

@-webkit-keyframes cssload-wobble {
  0%, 100% {
    -webkit-transform: rotateX(8.75deg) rotateY(35deg);
            transform: rotateX(8.75deg) rotateY(35deg); }
  50% {
    -webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
            transform: rotateX(35deg) rotateY(-35deg) rotate(180deg); } }

@keyframes cssload-wobble {
  0%, 100% {
    -webkit-transform: rotateX(8.75deg) rotateY(35deg);
            transform: rotateX(8.75deg) rotateY(35deg); }
  50% {
    -webkit-transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
            transform: rotateX(35deg) rotateY(-35deg) rotate(180deg); } }
@-webkit-keyframes cssload-spin {
  0%, 100% {
    -webkit-transform: translateZ(49px) rotateX(14deg);
            transform: translateZ(49px) rotateX(14deg); }
  33% {
    -webkit-transform: translateZ(-49px) scale(0.4);
            transform: translateZ(-49px) scale(0.4); }
  66% {
    -webkit-transform: translateZ(-49px);
            transform: translateZ(-49px); } }
@keyframes cssload-spin {
  0%, 100% {
    -webkit-transform: translateZ(49px) rotateX(14deg);
            transform: translateZ(49px) rotateX(14deg); }
  33% {
    -webkit-transform: translateZ(-49px) scale(0.4);
            transform: translateZ(-49px) scale(0.4); }
  66% {
    -webkit-transform: translateZ(-49px);
            transform: translateZ(-49px); } }

/*# sourceMappingURL=main.compiled.css.map */