@import "../components/button/button.scss";
@import "../components/form/form.scss";
@import "../components/gamerules/rules.scss";
@import "../components/menu/menu.scss";
@import "../components/scoreboard/scoreboard.scss";
@import "../components/profileForm/profile.scss";
@import "../components/aboutgame/about.scss";


$width: 100%;
$height: 100%;

body {
	width: $width;
	height: $height;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(/static/img/space.jpg) no-repeat;
	background-size: 100%;
}

.js-canvas{
	width: $width;
	height: $height;
	touch-action: none;
}


.cssload-wrap {
	display: flex;
	box-pack: center;
	justify-content: center;
	box-align: center;
	align-items: center;
	perspective: 390px;
	height: 100%;
	overflow: hidden;
}

.cssload-cssload-spinner {
	position: relative;
	transform-style: preserve-3d;
	animation: cssload-wobble 4.59s ease-in-out infinite;
}
.cssload-cssload-spinner:before, .cssload-cssload-spinner:after {
	display: block;
	content: "";
	width: 88px;
	height: 88px;
	border: 44px solid;
	border-radius: 50%;
	animation: cssload-spin 1.73s ease-in-out infinite both reverse;
}
.cssload-cssload-spinner:before {
	border-color: rgb(221,221,221);
	position: absolute;
}
.cssload-cssload-spinner:after {
	border-color: black;
	animation-delay: -0.86s;
}

@keyframes cssload-wobble {
	0%, 100% {
		transform: rotateX(8.75deg) rotateY(35deg);
	}
	50% {
		transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
	}
}


@keyframes cssload-spin {
	0%, 100% {
		transform: translateZ(49px) rotateX(14deg);
	}
	33% {
		transform: translateZ(-49px) scale(0.4);
	}
	66% {
		transform: translateZ(-49px);
	}
}
