.main-logo__text
{
    position:relative;
    top:50px;
    left:450px;
}

.main-logo__header
{
    font-size:50px;
    color:#5a5a5a;


}

.main-logo__subtext
{
    font-size:20px;
    color:#FFFFFF
}

.main-logo__image
{
    z-index: 0;
    margin-top:-82px;
}

.main-logo__header{
  font-family: 'tengo a tus hijos';
  font-style: normal;
  font-weight: normal;
  color:#FFFFFF;
}

.main-page__line
{

    width: 1200px;
    margin-top:27px;
    margin: 0 auto;
    
}



div.main-logo{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* центрируем основной контейнер */
}

img {
  width: 100%; /* ширина картинки */

  height: auto; /* высота картинки */
}
