.buttonsignup {
    display: inline-block;
    border-radius: 4px;
    background-color: #4020a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 0px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.buttonreg {
    display: inline-block;
    border-radius: 4px;
    background-color: #4020a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-size-adjust: 0.58;
    padding: 0px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

