.button {
	width: 200px;
  height: 40px;
  margin-left: 100px;
  margin-top: 10px;
  background-color: red;
  border-radius: 15px;
  border:1px solid red;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
