.main-link
{
    color:#183b63;
    font-size:12px;

}

.main-head
{
    height:36px;
}

.main-head__welcome
{
    float:right;
}

.main-welcome__input
{
    display:inline-block;
}

.main-input
{
    background-color: #0c163d;
    border:0px;
}

.main-input_welcome
{
    height:32px;
    padding:0 10px;
    width:205px;
    border-right:none;
}
.main-button
{
    color:#fefefe;
    height:32px;
    padding:0 12px;
    line-height:33px;
    cursor:pointer;
    background-color:#1b70d1;
    font-family: HelveticaNeue-Bold;
}


.main-head__logo
{
    float: left;
}


.main-page__line
{

    width: 1200px;
    margin-top:27px;
    margin: 0 auto;
    
}

.main-menu
{
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
    display:table;
    table-layout: fixed;

}


.main-link_menu
{
    text-align:center;
    color:white;
    cursor:pointer;
    font-family: 'Lilita One', cursive;
    font-size:20px;
    height:40px;
    background-color:#0c163d;
    line-height:45px;
    border: 0.5px solid #07195d;
    display:table-cell;
    text-decoration: none;
}

.main-link_menu_active
{
    color:#fefefe;
    background-color:#1b70d1;
    border:0px solid #0fb9dd;
}
